@charset "ISO-8859-1";

body {
	background-color: rgb(230, 230, 230);
	margin: 0;
}

nav {
	background-color: black;
	opacity: 0.9;
	overflow: hidden;
}

nav img {
	width: 26px;
	height: auto;
}

nav h1 {
	color: white;
	display: inline;
}

nav a {
	float: right;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topleft {
	float: left;
	margin: auto;
	display: inline;
	height: auto;
}

.btn1 {
	display: block;
	width: 80px;
	margin: 5px 5px;
	padding: 10px 20px;
	text-align: center;
	background-color: rgb(253, 220, 54);
	color: black;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.btn1:hover {
	background-color: rgba(253, 220, 54, 0.854);
	color: black;
}

.center {
	text-align: center;
	margin: auto;
	font-size: 15px;
}

table {
	width: 100%;
	background-color: white;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

.btn {
	padding: 5px 10px;
	cursor: pointer;
}

.btn-search {
	background-color: rgb(253, 220, 54);
	color: black;
	border: none;
	height: 20px;
}

.search {
	margin-left: 1000px;
}

footer {
	margin-top: 400px;
}

.slick-header {
	background-color: rgb(253, 220, 54); 
	color: black;
	height: 40px;
}

.slick-row {
	background-color: white;
	color: black;
}

.slick-row.even {
	background-color: #f2f2f2;
}

.slick-row.odd {
	background-color: #ffffff;
}

.slick-header-column {
	top: 6px;
}