<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/CSS/aboutUs.css}">
<title>About Us</title>
</head>
<body>
	<nav>
		<img src="image/logo1.png" alt="Logo" class="topleft"
			style="margin-top: 12px;">
		<h1 class="topleft" style="color: rgb(253, 220, 54); margin-top: 6px;">ark</h1>
		<h1 class="topleft" style="margin-top: 6px;">Smart</h1>
		<a th:href="@{/}" class="btn1">Back</a>
	</nav>

	<div class="container">
		<h1>Who We Are</h1>
		<p>Welcome to Parking Spot, your one-stop solution for finding
			convenient parking spots.</p>

		<h1>Our Mission</h1>
		<p>Our mission is to provide a hassle-free parking experience by
			offering reliable information about available parking spots.</p>

		<h1>Why Choose Us?</h1>
		<p>Easy-to-use platform</p>
		<p>Accurate and up-to-date information</p>
		<p>Diverse range of parking options</p>
		<p>Customer-focused service</p>

		<h1>Contact Us</h1>
		<p>If you have any questions or feedback, feel free to contact us.</p>
	</div>

	<footer>
		<div style="text-align: center; margin-top: 20px;">
			<p>&copy; 2024 Park Smart. All Rights Reserved.</p>
		</div>
	</footer>

</body>
</html>
