<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/CSS/index.css}">
<title>Parking Spot</title>
</head>
<body>
	<nav>
		<img src="image/logo1.png" alt="Logo" class="topleft"
			style="margin-top: 12px;">
		<h1 class="topleft"
			style="color: rgb(253, 220, 54); margin-top: 10px;">ark</h1>
		<h1 class="topleft" style="margin-top: 10px;">Smart</h1>
		<a class="btn1" th:href="@{/userLogin}">Sign-In</a> <a
			th:href="@{/price}">Pricing</a> <a th:href="@{/about}">AboutUs</a>

	</nav>
	<div style="margin-top: 100px; margin-left: 40px;">
		<p style="color: white; font-size: 25px;">Welcome to</p>
		<h1 style="color: rgb(253, 220, 54); font-size: 50px;">PARK</h1>
		<h1 style="color: whitesmoke; font-size: 50px;">SMART</h1>
		<p style="color: rgb(194, 186, 186)">Plan ahead and secure your
			parking spot in advance to streamline your day. Take the hassle out</p>
		<p style="color: rgb(194, 186, 186)">of parking by reserving your
			spot online, ensuring you have a convenient place to park when you
			arrive.</p>
		<a th:href="@{/userLogin}" class="btn">Get Started</a>
	</div>
	<footer>
		<div
			style="display: flex; justify-content: space-between; width: 90%;">
			<div style="text-align: center;">
				<h3>Contact Us</h3>
				<p>parking@gmail.com</p>
				<p>support@gmail.com</p>
			</div>
			<div style="text-align: center;">
				<h3>Legal</h3>
				<p>
					<a href="#">Terms and Conditions</a>
				</p>
				<p>
					<a href="#">Privacy Policy</a>
				</p>
			</div>
			<div style="text-align: center;">
				<h3>Help and FAQs</h3>
				<p>
					<a href="#">FAQs</a>
				</p>
				<p>
					<a href="#">Help Center</a>
				</p>
			</div>
			<div style="text-align: center;">
				<h3>Stay Connected</h3>
				<a href="https://www.facebook.com/" class="fa fa-facebook"
					style="padding: 10px;">FaceBook</a><br> <a
					href="https://www.instagram.com/" class="fa fa-instagram"
					style="padding: 10px;">Instagram</a>
			</div>
		</div>
		<div style="text-align: center; margin-top: 20px;">
			<p>&copy; 2024 Park Smart. All Rights Reserved.</p>
		</div>
	</footer>
</body>
</html>
