<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/CSS/location.css}">
<title>Location</title>
</head>
<body>
	<nav>
		<img src="image/logo1.png" alt="Logo" class="topleft"
			style="margin-top: 12px;">
		<h1 class="topleft"
			style="color: rgb(253, 220, 54); margin-top: 10px;">ark</h1>
		<h1 class="topleft" style="margin-top: 10px;">Smart</h1>
		<a th:href="@{/}" class="btn1">Logout</a> <a th:href="@{/price}"
			target="blank">Pricing</a> <a th:href="@{/about}" target="blank">AboutUs</a>
	</nav>
	<h1 style="text-align: center; margin-top: 50px">AVAILABLE
		LOCATIONS</h1>
	<div class="containers">
		<div class="container" style="margin-top: 50px;"
			th:each="location : ${list}">
			<form th:action="@{/locationName}" method="get" class="card">
				<input type="hidden" name="locationId"
					th:value="${location.locationId}">
				<button type="submit" style="border: none;">
					<img th:src="'data:image/jpeg;base64,' + ${location.base64Image}"
						alt="Location Image" width="300" height="300">
				</button>
				<div class="card-content">
					<h3 class="card-title" th:text="${location.location}">Location
						Name</h3>
				</div>
			</form>
		</div>
	</div>
	<footer
		style="background-color: black; opacity: 0.9; padding: 20px 0; color: white; display: flex; flex-direction: column; align-items: center;">
		<div style="text-align: center; margin-top: 20px;">
			<p>&copy; 2024 Park Smart. All Rights Reserved.</p>
		</div>
	</footer>
</body>
</html>
